h1 {
    border: 1px solid black;
    width: 350px;
    height: 200px;
}

.mainContainer {
    border: 1px solid red;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.introTitle {
    display: flex;
    align-items: center;
    height: 200px;
    font-family:  'URW Chancery L', cursive;
}

.suggestionErr {
    font-family:  'URW Chancery L', cursive;
}

.lunchContainer {
    width: 350px;
    height: 200px;
    border: 1px solid black;
    box-shadow: 5px 10px;
    margin-top: 50px;
    margin-bottom: 15px;
}

.lunchName {
    border: 1px solid blue;
}

.lunchDetails {
    border: 1px solid black;
    box-shadow: 5px 10px;
    text-align: center;
    width: 150px;
    margin-left: 75px;
    margin-top: -20px;
}

.displayDetails {
    display: flex;
}

.imageIcon {
    height: 100px;
    width: 100px;
}

.font {
    font-family: 'Apple Chancery', cursive;
    color: blanchedalmond;
    margin: 0;
}

.suggestionErr {
    font-family:  'URW Chancery L', cursive;
}

.generateBtn {
    padding: 20px;
    outline: none;
    background: none;
    color: #492e72;
    border-radius: 3px;
    margin-bottom: 25px;
    border: none;
    font-weight: 700;
    font-family: 'Apple Chancery', cursive;
    letter-spacing: 0.1em;
    background: #714cac;
}
.generateBtn:hover{
    text-shadow: 0 0 2em rgba(255,255,255,1);
    color:#FFFFFF;
    border-color:#FFFFFF;
}